/****** https://github.com/Labush/JS *****/

* {
  margin: 0;
  font-family: "Abel", sans-serif;
}
svg {
  position: absolute;
  height: 700px;
  width: 700px;
  left: -700px;
  top: -700px;
  filter: drop-shadow(15px 20px 7px #a5d6dd);
  transition: 0.8s;
}

svg.open {
  top: -290px;
  left: -290px;
  transform: 2s;
}

.nav {
  position: relative;
  width: 100%;
}

.nav #menu {
  display: none;
}

.burger {
  cursor: pointer;
  padding: 10px 16px;
  display: block;
}

#menu a {
  color: black;
  text-decoration: none;

  animation-name: appmenu;
  animation-duration: 1.7s;

  font-size: 22px;
  letter-spacing: 1.3px;

  padding: 10px;
  display: block;
  margin-left: 4.5%;
}
#menu a:hover {
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: #a5d6dd;
}

@keyframes appmenu {
  0% {
    opacity: 0%;
    transform: translateX(-200px);
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
