/** https://github.com/Labush/JS ****/
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
body {
  height: 150ch;
  overflow-x: hidden;
  font-family: "Oswald", Arial, sans-serif !important;
}
nav {
  background-color: #f4bb58;
  color: white;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  margin-top: -50px;
  transition: 0.6s ease;
  margin-left: -8px;
  z-index: 1;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
li {
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 7px;
  font-weight: lighter;
}
li:hover {
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: white;
}

h1 {
  text-align: center;
  margin-top: 20ch;
}

/***** main ****/
.main {
  margin-top: 60px;
}
.row {
  margin-left: 8% !important;
}
.card {
  width: 320px;
  border-radius: 1px !important;
  border: solid 2px #f4bb58 !important;
}
.card-img-top {
  border-radius: 1px !important;
  padding: 12px !important;
}
.card-title {
  text-align: center !important;
  color: black !important;
  text-transform: uppercase !important;
  letter-spacing: 1.2px !important;
}
.card-text {
  text-align: center !important;
  font-weight: lighter !important;
  letter-spacing: 1.2px !important;
}
.prix {
  text-align: center;
  font-size: 31px;
  color: black;
  letter-spacing: 1.2px !important;
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: #f4bb58;
  text-underline-offset: 7px;

  padding-bottom: 35px;
}

/***** effect js typing ****/
.premain {
  overflow-y: hidden;
  display: flex;
  color: #358fb4;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#target {
  position: relative;
  font-size: 50px;
}
#target::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 12px;
  width: 7px;
  background: #f4bb58;
  right: -15px;
  animation: flash 0.8s linear infinite;
}
@keyframes flash {
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/**** CIRCLE CARD ****/
.circle {
  background-color: red;
  height: 75px;
  width: 75px;
  border-radius: 100px;
  margin-left: 8.5%;
  margin-top: -40px;
  position: absolute !important;

  border: solid 2px #f4bb58;
  background-color: white;
}
.fa-credit-card {
  margin-left: 16px;
  margin-top: 19px;
  color: #358fb4;
  cursor: pointer;
}

/*** FAQ *****/
.content_faq {
  margin-top: 130px;
  text-align: center;
}
.divfaq {
  text-align: center;
}

.content_hide {
  display: none;
  font-weight: lighter;
}
#showLink {
  color: black;
  font-size: 28px;
  letter-spacing: 1px;
}
#resp {
  color: black;
  font-size: 19px !important;
  letter-spacing: 1px;
}
#hide {
  margin-top: 20px;
  border: solid 2px #f4bb58;
  width: 800px;
  margin-left: 25%;
  margin-bottom: 30px;
  text-align: left;
  padding: 20px;
}
#hideLink {
  color: black;
  font-size: 28px;
  margin-bottom: 25px;
}
/********/
.content_hide1 {
  display: none;
  font-weight: lighter;
}
#showLink1 {
  color: black;
  font-size: 28px;
  letter-spacing: 1px;
}
#resp {
  color: black;
  font-size: 19px !important;
  letter-spacing: 1px;
}
#hide1 {
  margin-top: 20px;
  border: solid 2px #f4bb58;
  width: 800px;
  margin-left: 25%;
  margin-bottom: 30px;
  text-align: left;
  padding: 20px;
}
#hideLink1 {
  color: black;
  font-size: 28px;
  margin-bottom: 25px;
}
/********/
.content_hide2 {
  display: none;
  font-weight: lighter;
}
#showLink2 {
  color: black;
  font-size: 28px;
  letter-spacing: 1px;
}
#resp {
  color: black;
  font-size: 19px !important;
  letter-spacing: 1px;
}
#hide2 {
  margin-top: 20px;
  border: solid 2px #f4bb58;
  width: 800px;
  margin-left: 25%;
  margin-bottom: 30px;
  text-align: left;
  padding: 20px;
}
#hideLink2 {
  color: black;
  font-size: 28px;
  margin-bottom: 25px;
}
.fas {
  cursor: pointer;
}
#qui {
  color: #358fb4;
  font-size: 50px;
}
